.main__inner-questions{
    background: url(../img/section_5-1.png);
    position: relative;
    background-size: cover;
    padding-bottom: 30px;
}

.main__inner-questions::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.404);
}


.main__section6{
    position: relative;
    padding: 0;
    
}

.questions-form-holder{
    width: 883px;
    align-items: center;
    margin: 0 auto;
    
}

.questions-form{
    width: 883px;
    height: 445px;
    justify-content: start;
    margin-bottom: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #131313;
    box-shadow: 0px 30px 30px rgba(0, 0, 0, 0.05);
    font-style: normal;
    font-weight: normal;
    box-sizing: border-box;
    position: relative;
    top: -200px;
}

.questions-form-title{
    font-size: 20px;
    line-height: 28px;
    margin-top: 34px;
    margin-bottom: 45px;
    color: #fff;
}

.questions-inputs{
    width: 516px;
    display: flex;
    flex-direction: column;
    margin-bottom: 39px;
}

.questions-form-item-1{
    display: flex;
    justify-content: space-between;
}


.questions-form-item-1-item{
    width: 231px;
    justify-content: center;
    display: flex;
    flex-direction: column;
}

.questions-form-label{
    font-size: 13px;
    line-height: 21px;
    color: rgba(255, 255, 255, 0.5);
    padding-left: 3px;
}

.questions-form-input{
    width: 100%;
    font-family: Nunito Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 23px;
    color: #ffffff;
    background-color: #131313;
    border: none;
    border-bottom: 1px solid rgba(255, 255, 255, 0.15);
    margin-right: 58px;
    outline: none;
}

.questions-form-input::-moz-placeholder { color: #ffffff; }
.questions-form-input::-webkit-input-placeholder { color: #ffffff; }

.questions-form-item-2-item{
    width: 100%;
    margin-left: 45px;
    justify-content: center;
    display: flex;
    flex-direction: column;
}

.questions-input-3{
    width: 100%;
    margin-top: 48px;
    margin-bottom: 46.5px;
} 

.questions-checkbox{
    display: flex;
    margin-top: 0;
    align-self: center;
}

.questions-label-checkbox{
    display: inline-flex;
    align-items: center;
    user-select: none;
    font-size: 14px;
    line-height: 163.68%;
    color: #ffffff;
}

.questions-label-checkbox::before, .custom-checkbox::before {
    content: "";
    display: inline-block;
    width: 1em;
    height: 1em;
    flex-shrink: 0;
    flex-grow: 0;
    border: 1px solid #adb5bd;
    border-radius: 0.25em;
    margin-right: 0.5em;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 50% 50%;
    border-radius: 1px;
}

.questions-button{
    align-self: center;
    margin-bottom: 34.4px;
    width: 213px;
    height: 51px;
    
}

.questions-title{
    font-size: 20px;
    line-height: 28px;
    text-align: center;
    color: #e3b873;
    margin-top: -130px;
}

.questions-social-media{
    width: 71px;
    display: flex;
    justify-content: space-between;
    margin: 26px auto 0;
}

.questions-map{
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.questions-title-2, .questions-social-media-2, .questions-fantasies, .questions-map-min{
    display: none;

}



/*MID*/
@media screen and (max-width: 976px){  
   

    .main__section6 {
        max-width: 340px;
        min-width: 375px; 
    }    
  
    .main__inner-questions{
        width: 100%;
        background: none;
        background-color: #13131300;
        position: relative;
        background-size: cover;
        padding-bottom: 30px;
    }

    .title-item {
        text-align: center;
        padding: 0 0 52px 0;
    }

    

    .questions-form-holder{
        width: 360px;
    }

    .questions-form {
        width: 392px;
        height: 550px;
        position: static  ;

    }

    .questions-inputs{
        width: 100%;
    }

    .questions-form-item-1{
        flex-direction: column; 
    }

    .questions-form-item-2-item{
        margin-top: 48px;
        margin-left: 0;
    }


    .questions-fantasies{
        width: 360px;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .main__inner-questions::before{
        background: rgba(0, 0, 0, 0);
    }

    .questions-title, .questions-social-media{
        display: none;
    }

    .questions-title-2, .questions-social-media-2{
        display: contents;
    }

    .questions-title-2{
        margin-top: 30px;
        font-size: 20px;
        text-align: center;
    } 

    .questions-map{
        display: flex;
        flex-direction: column;
        margin: 0 auto;
    }

    .questions-map-max{
        display: none;
    }

     .questions-map-min{
        width: 360px;
        display: block;
    }

    .questions-social-media-2{
        width: 71px;
        display: flex;
        justify-content: space-between;
        margin: 26px auto 0;
    }

}


